{:paths   ["src/main"]
 :deps    {edn-query-language/eql {:mvn/version "1.0.0"}
           ubergraph/ubergraph    {:mvn/version "0.8.2"}
           br.com.souenzzo/eql-as {:git/url "https://github.com/souenzzo/eql-as.git"
                                   :sha     "e59e457c77603384276d67ed446c2d1cbc8cab85"}}
 :aliases {:dev {:extra-paths ["src/test"]
                 :extra-deps  {org.clojure/clojure        {:mvn/version "1.10.1"}
                               midje/midje                {:mvn/version "1.9.9"}
                               com.stuartsierra/component {:mvn/version "1.0.0"}
                               org.clojure/test.check     {:mvn/version "0.10.0"}}}}}
